/* Base styles */

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75vw;
  margin: 0 auto;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.mainPage {
  background-color: #f1f5f9;
}

.container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
}

.centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.container h1 {
  font-size: 1.75vw;
  font-weight: medium;
  letter-spacing: -0.05vw;
  margin: 0;
  color: #475569;
}

.col {
  flex-direction: column;
}

.superscript {
  font-size: 1vw;
  vertical-align: super;
}

.introCard {
  background-color: #cbd5e1;
  padding: 2vh 2vw;
  border-radius: 0.75vw;
  filter: drop-shadow(0 0 5vw rgb(0 0 0 / 10%));
  user-select: none;
  cursor: default;
}

.startButton {
  border: 0.15vw solid #475569;
  padding: 0.5vw 1vh;
  border-radius: 0.5vw;
  text-decoration: none;
  color: #475569;
  font-size: 1vw;
  font-weight: medium;
  transition: 200ms ease-in-out all;
  margin-top: 1vh;
  cursor: pointer;
}

.startButton:hover {
  background-color: #475569;
  color: #cbd5e1;
  transition: 200ms ease-in-out all;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-weight: medium;
}

#quizPage h1 {
  padding-top: 1vh;
  user-select: none;
}

label {
  user-select: none;
}

h3 {
  font-weight: normal;
}

.quiz-container {
  background-color: #cccccc;
  border-radius: 0.75vw;
  padding: 1vw;
  margin-bottom: 2vw;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.resetButton {
  border: 0.15vw solid rgb(239, 68, 68);
  border-radius: 0.75vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25vw 0.5vh;
  background-color: rgb(239 68 68 / 0%);
  font-weight: normal;
  transition: 200ms ease-in-out all;
  color: #262626;
  margin-left: 1vw;
}

.resetButton:hover {
  transition: 200ms ease-in-out all;
  cursor: pointer;
  background-color: rgb(239 68 68 / 100%);
  color: #fee2e2;
}

.resetButton:hover path {
  fill: #fee2e2;
  transition: 200ms ease-in-out all;
}

.resetButton path {
  fill: #262626;
  transition: 200ms ease-in-out all;
}

.resetButton svg {
  height: 1.25vw;
  margin: 0;
  padding-right: 0.25vw;
}

#quizPage h1 {
  font-size: 1.5vw;
  font-weight: medium;
}

.formContainer {
  margin: 0 auto;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5vh;
}

.submitButton {
  border: 0.15vw solid #10b981;
  border-radius: 0.75vw;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25vw 0.75vh;
  background-color: rgb(239 68 68 / 0%);
  font-weight: normal;
  transition: 200ms ease-in-out all;
  color: #262626;
}

.submitButton:hover {
  transition: 200ms ease-in-out all;
  cursor: pointer;
  background-color: rgb(16 185 129 / 100%);
  color: #fee2e2;
}

.submitButton:hover path {
  fill: #fee2e2;
  transition: 200ms ease-in-out all;
}

.submitButton path {
  fill: #262626;
  transition: 200ms ease-in-out all;
}

.submitButton svg {
  height: 1.25vw;
  margin: 0;
  padding-right: 0.25vw;
}

.noDeco {
  text-decoration: none;
}

.literalQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2.5vh 0;
}

.literalQuestion input {
  border: none;
  border-bottom: rgb(37 99 235 / 0%) solid 0.15vw;
  background-color: #d4d4d4;
  border-radius: 0.25vw;
  font-size: 1vw;
  padding: 1vh 0.5vw;
  transition: 200ms ease-in-out all;
  font-weight: normal;
  filter: drop-shadow(0 0 0.5vw rgb(0 0 0 / 15%));
  display: flex;
  justify-content: start;
  align-items: center;
}

.literalQuestion input:hover {
  cursor: pointer;
  outline: none;
  border-bottom: rgb(37 99 235 / 100%) solid 0.15vw;
  transition: 200ms ease-in-out all;
  filter: drop-shadow(0 0 0.5vw rgb(37 99 235 / 40%));
}

.literalQuestion :focus {
  outline: none;
  border-bottom: rgb(37 99 235 / 100%) solid 0.15vw;
  transition: 200ms ease-in-out all;
  filter: drop-shadow(0 0 0.5vw rgb(37 99 235 / 40%));
}

.choiceQuestion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1vw;
  margin: 2.5vh 0;
}

.choiceQuestion input {
  margin-right: 1vw;
  transition: 200ms ease-in-out all;
  filter: drop-shadow(0 0 0.5vw rgb(0 0 0 / 15%));
}

.choiceQuestion input:hover {
  cursor: pointer;
}

.choiceQuestion input:checked {
  transition: 200ms ease-in-out all;
  filter: drop-shadow(0 0 0.5vw rgb(37 99 235 / 50%));
}

.choiceQuestion .checkbox {
  display: flex;
  justify-content: start;
  align-items: center;
}

label {
  font-size: 1vw;
  font-weight: normal;
  margin: 1vh 0;
}

.endScreen {
  position: sticky;
  top: 0;
  width: 100%;
  height: 0;
  z-index: 100;
  margin: 0 auto;
}

.endScreen .panel {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(27, 27, 27, 0.75);
  border-radius: 2.5vw 0 0 2.5vw;
  backdrop-filter: blur(0.5vw);
  transform: translateX(100%);
  transition: 1s ease-in-out all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#appreciation {
  margin: 0;
  padding: 0;
  font-size: 3vw !important;
  font-weight: medium;
  margin-bottom: 1vh;
}

#nombre_justes {
  margin: 0;
  padding: 0;
  font-size: 2vw;
  color: #f5f5f5;
  font-weight: normal;
}

.panel svg {
  fill: #f5f5f5;
  transition: 200ms ease-in-out all;
}

.panel button {
  position: absolute;
  background: none;
  border: none;
  width: 2.5vw;
  margin: 1.5vw;
  padding: 0;
  cursor: pointer;
  top: 1vw;
  left: 1vw;
}

.panel button:hover svg {
  fill: #d4d4d4;
  transition: 200ms ease-in-out all;
}
